{% if display_filters %}
  <div>
    <span class="filter-header">Filters</span>: {{ display_filters|join(", ") }}
    <span><a href="{{url_for("search.query")}}?&query={{ query }}">Clear All Filters</a></span>
  </div>
{% endif %}
{% if query_category %}
  <div>
    <p>Your query categorization model predicted:</p>
      {% for category in query_category %}
        <p>{{ category }}</p>
      {% endfor %}
  </div>
{% endif %}